
.MuiAppBar-colorPrimary{
    background-color: transparent !important;
    box-shadow: none !important;
}
.MuiToolbar-root button {
    display: none;
}

.nav-link.active {
    opacity: 1;
}
.nav-link a {
    color: #222;
    text-decoration: none;
}
.nav-link a:hover {
    color: blue;
    text-decoration: none;
}
.nav-link {
    float: left;
    padding-right: 35px;
    opacity: .7;
}
.nav-bar {
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 10;
}
.nav-bar.dark-mode .nav-link a {
    color: #FFF;
}
.nav-contents {
    float: right;
    padding-top: 35px;
    padding-right: 50px;
    font-weight: 500;
    letter-spacing: 0.02em;

}
.nav-logo img{
    width: 200px;
    margin-top: 25px;
    padding-left: 80px;

}
.nav-logo{
    width: 200px;
    float: left;
}

@media (max-width: 1020px) {
    .MuiToolbar-root button { display: block; }
    .MuiToolbar-root .nav-link { display: none; }
}

body{
    font-family: "Helvetica Neue";
}
html, body { margin: 0; }


.hero{
    background-size: cover;
    background-position: center;
    height: 600px;
}

.row {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    background-color: #FFF;
}

.column-image {
    background-size: cover;
    height: 400px;
    flex-basis: 50%;
    max-width: 450px;
}
.column-text {
    flex-basis: 50%;
    height: 400px;
    text-align: center;
}
.column-text h1{
    padding-top: 30px;
}
.column-text p{
    padding-top: 30px;
    color: #b8b8b8;
    line-height: 30px;
    font-size: 20px;
}

.container{
    padding-bottom: 80px;
}

.line-card-hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center top;
}

.line-card-description{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 900px;
    background-color: #FFF;
    font-size: 30px;
    color:#222;
}
.line-card-logos {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    overflow: hidden;
    margin-bottom: 20px;
}
.line-card-logo {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-card-logo img { width: 100%; }
.line-card-logo.too-lorge img { width: 50%; }
.line-card-logo.emerson img{padding-bottom:40px; }

.footer{
    width: 100%;
    height: 340px;
    background-color: #040B13;
    overflow: hidden;
}
.footer-contact{
    color: #F3F3F3;
    float: right;
    margin-right: 120px;
}
.footer-nav{
    color: #f3f3f3;
    float:right;
    margin-right: 100px;
}
.footer-info{
    margin-top: 55px;
    line-height: 1.5;
}
.footer-line{
    border-bottom: 0.5px solid #EEE;
    width: 800px;
    margin:250px auto 0;

}

.dark-logo img {
    width: 200px;
    margin-top: 55px;
    padding-left: 80px;
    float:left;
}
.socials {
    display: flex;
    justify-content: center;
}
.socials img {
    width: 20px;
    padding: 0 10px;
    padding-top: 20px;
    cursor: pointer;
}

.contact-page {
    height: 800px;
    position: relative;
}

svg.trapezoidal-horizintal{
  position: absolute;
  width: 100%;
  height: 100%;
  /* set height to pixels if you want angle to change with screen width */
}

.golden-gate {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-position: right;
}

.get-in-touch{
    color: white;
    padding-top: 150px;
    padding-left: 90px;
    position: relative;
    z-index: 1;
}

.contact-page .MuiInput-underline::before {
    border-color: white;
}
.contact-page .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-color: rgba(255,255,255,0.87);
}
/* the color of the input on the contact page */
.contact-page .MuiInput-underline::after {
    border-color: #C7C1FC;
}
.contact-page .MuiInputBase-input {
    color: white;
}
.contact-page .MuiFormLabel-root {
    color: white;
}
.contact-page .MuiFormLabel-root.Mui-focused {
    color:  #C7C1FC;
}
.contact-page .MuiFormControl-root {
    width: 100%;
    margin-bottom: 30px;
}
.contact-page .MuiButton-textPrimary {
    color: #1CA77E;
}

.contact-form {
    width: 40%;
    max-width: 500px;
    padding-left: 100px;
}

.contact-info {
    position: relative;
    z-index: 1;
    max-width: 280px;
    padding-left: 100px;
    color: white;
    padding-top: 30px;
}

.contact-data {
    display: flex;
    justify-content: space-between;
}
